[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
autopep8 = "*"
tqdm = "*"
matplotlib = "*"
ipykernel = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
